# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/



# Virtual environment directories
venv/
env/

# Logs and temporary files
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store

# Output files
*.csv
*.html

# Test and temporary directories
temp_*/
temp_scraper_output/
scraped_app_data/
test.ipynb

# Analysis results
app_analysis_results.csv
temp_analysis_results.csv
temp_evaluator_overwrite_test.csv
test_analysis_results.csv

# Proxies
good_proxies.txt


# Node Modules
gplay-scraper/node_modules